@import "../../index";

.form-modal {
  @include adjustToSides(5px);
  position: absolute;
  z-index: 3;
  overflow-y: auto;

  > .modal-dialog {
    margin: 0;
    max-width: initial;
  }

  @media (min-width: 480px) {
    left: 10px;
    right: 10px;
  }

  @media (min-width: 700px){
    left: calc((100% - 400px) / 2);
    right: calc((100% - 400px) / 2);
  }

  @media (min-width: 1200px){
    left: calc((100% - 800px) / 2);
    right: calc((100% - 800px) / 2);
  }

  @media (min-height: 750px) {
    bottom: auto;
    top: 5%;
  }
}
