.mapboxgl-ctrl-bottom-left > div.mapboxgl-ctrl {
  margin-left: 5px;
  margin-bottom: 0px;
  > a {
    width: 50px;
  }

  @media (min-width: 550px) {
    margin-left: 7px;
    margin-bottom: 7px;
    > a {
      width: 85px;
    }
  }
}

.mapboxgl-ctrl-bottom-right > div.mapboxgl-ctrl {
  margin-bottom: 5px;
  margin-right: 5px;
}
