Changelog
=========

All notable changes to this project will be documented in this file.

The format is based on [Keep a Changelog](http://keepachangelog.com/en/1.0.0/)
and this project adheres to [Semantic Versioning](http://semver.org/spec/v2.0.0.html).

{{#each releases}}
  {{#if href}}
    ## [[{{title}}][]]{{#if tag}} - {{isoDate}}{{/if}}
  {{else}}
    ## {{title}}{{#if tag}} - {{isoDate}}{{/if}}
  {{/if}}
  {{#if merges}}
    ### Merged
    {{#each merges}}
      - {{{message}}} {{#if href}}[`#{{id}}`][{{id}}]{{/if}}
    {{/each}}

  {{/if}}
  {{#if fixes}}
    ### Fixed
    {{#each fixes}}
      - {{{commit.subject}}} [`{{commit.shorthash}}`][{{commit.shorthash}}]
    {{/each}}

  {{/if}}
  {{#commit-list commits heading='### Commits'}}
    - {{#if breaking}}**Breaking change:** {{/if}}{{{subject}}} {{#if href}}[`{{shorthash}}`][{{shorthash}}]{{/if}}
  {{/commit-list}}


  {{#if href}}
[{{title}}]: {{href}}
  {{/if}}
  {{#each merges}}
[{{id}}]: {{href}}
  {{/each}}
  {{#each fixes}}
[{{commit.shorthash}}]: {{commit.href}}
  {{/each}}
  {{#each commits}}
[{{shorthash}}]: {{href}}
  {{/each}}

{{/each}}
