/*
 * All (or almost all) styles configuration can
 * be done with these vars.
 */
$marker-size: 25px;
$marker-radius: 0;
$marker-bg: no-repeat center / 100% transparent url('/badu_128.png');
$marker-closed-bg: center no-repeat / 100% transparent url('/badu_128.png');
$marker-closed-opacity: .6;

$cluster-size: 23px;
$cluster-bigger-size: $cluster-size * 1.36;
$cluster-biggest-size: $cluster-bigger-size * 1.3;
$cluster-font-size: 12px;
$cluster-bg-color: mediumorchid;
$cluster-color: white;
$cluster-shadow: 0 0 15px $cluster-bg-color,
                 0 0 15px $cluster-bg-color,
                 0 0 15px $cluster-bg-color,
                 0 0 15px $cluster-bg-color;

$popup-bg-color: white;
$popup-closed-bg-color: rgba(255, 0, 0, .3);

/*
 * Utility functions & mixins below
 */
@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin adjustToSides($distance) {
  top: $distance;
  bottom: $distance;
  left: $distance;
  right: $distance;
}
