@import '../../index';

.cluster {
  cursor: pointer;
  background-color: $cluster-bg-color;
  box-shadow: $cluster-shadow;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  color: $cluster-color;
  text-align: center;
  font-size: $cluster-font-size;
  font-weight: bold;
  width: $cluster-size;
  height: $cluster-size;

  &.bigger {
    @include square($cluster-bigger-size);
  }

  &.biggest {
    @include square($cluster-biggest-size);
  }
}
