@import '../../index';

span.marker {
  @include square($marker-size);
  background: $marker-bg;

  cursor: pointer;
  display: block;
  border-radius: $marker-radius;

  &.closed {
    background: $marker-closed-bg;
    opacity: $marker-closed-opacity;
  }
}
