@import '../../index';

.badu-popup {
  max-width: 280px;

  h3 {
    margin-top: 0;
    margin-bottom: 5px;
  }

  .time {
    margin-left: 5px;

    + .time::before {
      content: '/';
      margin-right: 5px;
    }
  }

  &.closed {
    .mapboxgl-popup-content {
      background-color: $popup-closed-bg-color;
    }
    .mapboxgl-popup-tip {
      border-top-color: $popup-closed-bg-color;
    }
  }
}
